.product_list_item_img13 {
    background-image: url(../img/fashion/air/men/am1.webp);
}

.product_list_item_img14 {
    background-image: url(../img/fashion/air/men/am2.webp);
}

.product_list_item_img15 {
    background-image: url(../img/fashion/air/men/am3.webp);
}

.product_list_item_img16 {
    background-image: url(../img/fashion/air/men/am4.jpeg);
}

.product_list_item_img17 {
    background-image: url(../img/fashion/air/men/am5.webp);
}

.product_list_item_img18 {
    background-image: url(../img/fashion/air/men/am6.webp);
}

.product_list_item_img19 {
    background-image: url(../img/fashion/air/men/am7.webp);
}

.product_list_item_img20 {
    background-image: url(../img/fashion/air/men/am8.jpeg);
}