.product_list_item_img21 {
    background-image: url(../img/fashion/air/women/wam1.webp);
}

.product_list_item_img22 {
    background-image: url(../img/fashion/air/women/wam2.webp);
}

.product_list_item_img23 {
    background-image: url(../img/fashion/air/women/wam3.webp);
}

.product_list_item_img24 {
    background-image: url(../img/fashion/air/women/wam4.webp);
}

.product_list_item_img25 {
    background-image: url(../img/fashion/air/women/wam5.webp);
}

.product_list_item_img26 {
    background-image: url(../img/fashion/air/women/wam6.webp);
}

.product_list_item_img27 {
    background-image: url(../img/fashion/air/women/wam7.webp);
}

.product_list_item_img28 {
    background-image: url(../img/fashion/air/women/wam8.webp);
}