.product_list_item_img29 {
    background-image: url(../img/fashion/jordan/men/jd8.webp);
}

.product_list_item_img30 {
    background-image: url(../img/fashion/jordan/men/jd2.jpg);
}

.product_list_item_img31 {
    background-image: url(../img/fashion/jordan/men/jd3.webp);
}

.product_list_item_img32 {
    background-image: url(../img/fashion/jordan/men/jd4.jpeg);
}

.product_list_item_img33 {
    background-image: url(../img/fashion/jordan/men/jd5.webp);
}

.product_list_item_img34 {
    background-image: url(../img/fashion/jordan/men/jd6.webp);
}

.product_list_item_img35 {
    background-image: url(../img/fashion/jordan/men/jd7.webp);
}

.product_list_item_img36 {
    background-image: url(../img/fashion/jordan/women/wjd6.webp);
}