.product_list_item_img37 {
    background-image: url(../img/fashion/jordan/women/jaa.webp);
}

.product_list_item_img38 {
    background-image: url(../img/fashion/jordan/women/wjd2.webp);
}

.product_list_item_img39 {
    background-image: url(../img/fashion/jordan/men/jd6.webp);
}

.product_list_item_img40 {
    background-image: url(../img/fashion/jordan/women/wjd4.jpg);
}

.product_list_item_img41 {
    background-image: url(../img/fashion/jordan/women/jjj.webp);
}

.product_list_item_img42 {
    background-image: url(../img/fashion/jordan/women/jjjggg.webp);
}

.product_list_item_img43 {
    background-image: url(../img/fashion/jordan/women/dqqqq.webp);
}

.product_list_item_img44 {
    background-image: url(../img/fashion/jordan/women/rrrrrrrrr.webp);
}