.product_list_item_img53 {
    background-image: url(../img/fashion/pagagus/women/333.webp);
}

.product_list_item_img54 {
    background-image: url(../img/fashion/pagagus/women/2290e1fe-7704-4b39-b287-b6e5b68de732.webp);
}

.product_list_item_img55 {
    background-image: url(../img/fashion/pagagus/women/tkjt96r9l4csus2plxzw.webp);
}

.product_list_item_img56 {
    background-image: url(../img/fashion/pagagus/women/ea8c795b-5dd6-474a-a67c-d98c29623dcb.webp);
}

.product_list_item_img57 {
    background-image: url(../img/fashion/pagagus/women/pagasus1.webp);
}

.product_list_item_img58 {
    background-image: url(../img/fashion/pagagus/women/22.webp);
}

.product_list_item_img59 {
    background-image: url(../img/fashion/pagagus/women/pagasus1.webp);
}

.product_list_item_img60 {
    background-image: url(../img/fashion/pagagus/women/4444.webp);
}