.product_list_item_img61 {
    background-image: url(../img/fashion/uptempo/men/up5.jpg
);
}

.product_list_item_img62 {
    background-image: url(../img/fashion/uptempo/men/wsu6rpbwzdtaqb7ywbyk.webp);
}

.product_list_item_img63 {
    background-image: url(../img/fashion/uptempo/men/up1.webp)
}

.product_list_item_img64 {
    background-image: url(../img/fashion/uptempo/men/up5.jpg);
}

.product_list_item_img65 {
    background-image: url(../img/fashion/uptempo/men/s-l640.jpg);
}

.product_list_item_img66 {
    background-image: url(../img/fashion/uptempo/men/up2.webp);
}

.product_list_item_img67 {
    background-image: url(../img/fashion/uptempo/men/up3.jpg);
}

.product_list_item_img68 {
    background-image: url(../img/fashion/uptempo/men/up4.webp);
}