.product_list_item_img69 {
    background-image: url(../img/fashion/uptempo/women/wup1.jpg);
}

.product_list_item_img70 {
    background-image: url(../img/fashion/uptempo/women/wup2.webp);
}

.product_list_item_img71 {
    background-image: url(../img/fashion/uptempo/women/wup3.jpg);
}

.product_list_item_img72 {
    background-image: url(../img/fashion/uptempo/women/wup5.jpg);
}

.product_list_item_img73 {
    background-image: url(../img/fashion/uptempo/women/wup7.webp);
}

.product_list_item_img74 {
    background-image: url(../img/fashion/uptempo/women/wup9.jpg)
}

.product_list_item_img75 {
    background-image: url(../img/fashion/uptempo/men/up4.webp);
}

.product_list_item_img76 {
    background-image: url(../img/fashion/uptempo/men/up3.jpg);
}